
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  
  ::-webkit-scrollbar {
    width: 4px;
    transition: all 300ms ease-in-out;
    opacity: 0;
    background-color: #231E32;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(90, 65, 65);
    border-radius: 12px;
    height: 20px;
  }

}

@layer base {
  @font-face{
    font-family: walshiem;
    src: url('../public/fonts/GT-Walsheim-Bold.ttf');
  }
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
    font-family: walshiem;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

}
circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;

}
